.jumbotron {
    padding-top: 7rem;
    background-color: #e2edff;
}

#gallery{
    background-color: #e2edff;
}

footer *{
    color: white;
    font-weight: bold;
}

section {
    padding-top: 5rem;
}

ul#navbar li a.active {
    color: white;
}